<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body class="body">

<div th:insert="blocks/header"></div>
<div th:each="el : ${certificate}">
  <h3>Подробнее про сертификат: </h3> <h3 th:text="${el.certificateName}"></h3>
  <table>
    <tr>
      <td>><a>Название сертификата:</a>
        <a th:text="${el.certificateName}"></a>
      </td>
      <td>><a>Дата истечения:</a>
        <a th:text="${el.expirationDate}"></a>
      </td>
    </tr>
  </table>
  <form th:action="'/certificate/' + ${el.ID_Certificate} + '/remove'" method="post">
    <button type="submit" class="btn btn-del">Удалить</button>
  </form>
</div>
</body>