<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Title</title>
  <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>
<h2>Поиск</h2>
<form method="post" th:action="${'/good/filter/result'}">
  <input type="text" name="goodName">
  <button type="submit">Найти</button>
  <div th:each="el : ${result}">
    <h3 th:text="${el.goodName}"></h3>

  </div>
</form>
</body>
</html>