<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>
<form th:action="${'/maintenance/add'}" method="post" th:object="${maintenance}" >
  <table>
    <tr>
      <td><a>Дата обслуживания: </a>
        <input type="date" th:field="*{maintenanceDate}" name="maintenanceDate" placeholder="Введите дату">
        <div style="color: red" th:if="${#fields.hasErrors('maintenanceDate')}" th:errors="*{maintenanceDate}"></div>

      </td>
      <td><a>Текст заявки: </a>
        <input type="text" th:field="*{maintenanceText}" name="maintenanceText" placeholder="Введите Текст">
        <div style="color: red" th:if="${#fields.hasErrors('maintenanceText')}" th:errors="*{maintenanceText}"></div>
      </td>
      <td><a>Ответственный: </a>
        <select name="username">
          <div th:each="element : ${users}">
            <option th:text="${element.getUsername()}"></option>
          </div>
        </select>
      </td>
      <td> <a>Склад: </a>>
        <select name="warehouseAddress">
          <div th:each="element : ${warehouse}">
            <option th:text="${element.getWarehouseAddress()}"></option>
          </div>
        </select>
      </td>

<!--  <a>Статус: </a> <a> <input type="checkbox" th:field="*{maintenanceStatus}" name="maintenanceStatus" placeholder="Введите Текст"></a>-->


  <br>
  <button type="submit">Добавить</button>
    </tr>
  </table>
</form>
</body>
</html>