<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body class="body">
<div th:insert="blocks/header"></div>
<form th:action="${'/material/add'}" method="post" th:object="${material}" >
    <table>
        <tr>
            <td> <a>Название материала: </a>
                <input type="text" th:field="*{materialName}" name="materialName" placeholder="Введите название">
                <div style="color: red" th:if="${#fields.hasErrors('materialName')}" th:errors="*{materialName}"></div>
            </td>
        </tr>
    </table>

  <br>
  <button type="submit">Добавить</button>
</form>
</body>
</html>